@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />


<address>
    Shraddha Barge<br />
    Karad,415110<br />
   
</address>

<address>
    <strong>Email:</strong>   <a href="shradhabarge3052k@gmail.com">shradhabarge3052k@gmail.com</a><br />
    <p><strong>Mobile No:</strong>9022059375</p>
</address>